{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="text-center my-5 py-5">
    <h1>{{ review.title }}</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <h2 class="py-3">{{ review.movie_name }}</h2>
      <p>{{ review.content }}</p>
      <p class="float-end">평점 :
        {{ review.grade }}</p>
    </div>
  </div>

  {% if request.user == review.user %}
    <div class="my-3 text-end">
      <a href="{% url 'reviews:update' review.pk %}" class="btn btn-primary">수정</a>
      <a href="{% url 'reviews:delete' review.pk %}" class="btn btn-danger">삭제</a>
    </div>
  {% endif %}
  <div class="my-3">
    <h3 class='py-3'>댓글</h3>
  </div>
  {% for comment in comments %}
    <p>{{ comment.content }}</p>
    <hr>
    <div class='text-end'>
      <span class="font-monospace">{{ comment.user }}</span>
      {% if user == comment.user %}
        <a href="{% url 'reviews:comments_del' review.pk comment.pk %}" class="btn btn-danger btn-sm">삭제</a>
      {% endif %}
    </div>
    {% empty %}
    <p>댓글이 없습니다</p>
  {% endfor %}

  {% if request.user.is_authenticated %}
    <form action="{% url 'reviews:comments' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <button class="btn btn-primary" type="submit">작성</button>
    </form>
  {% endif %}

{% endblock body %}
